<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
        <p>
          Auteur: <%= gossip.author %><br/>
          Contenu: <%= gossip.content %>
        </p>
    <a href="/">Page accueil</a><br/>
    <a href="/gossips/new/">Creer un gossip</a>
  </body>
</html>